@import '../../../style/vars.styl'
header
  background-color blue_medium
  padding 5px
  margin 0
  display flex
  justify-content space-between
  align-items center
  box-shadow: 0 1px 8px 1px rgba(black_light, .5)
  color white
  font-family 'Roboto'
  font-weight normal
  span
    font-weight: bold
  img 
    width 50px
    margin 0