@import '../../../style/vars.styl'
header
  background-color blue_medium
  padding 5px
  margin 0
  display flex
  justify-content space-between
  align-items center
  box-shadow: 0 1px 8px 1px black_light
  color white
  img 
    width 50px
    margin 0