//primary color
blue_original = #1D56D0;
blue_medium = #3A78F8;
blue_light = #98B8FA;

//secondary color
blue_s = #2FBDD8
blue_light_s = #DCF7FC

//acents color 
purple_original = #6A42D2
purple_light = #A383F2

//dark colors 
black_original = #151825
black_light = #202543

